<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <td>
        번호
    </td>
    <td>
        제목
    </td>
    <td>
        내용
    </td>
    <td>
        작성자
    </td>
    <td>
        날짜
    </td>
    </thead>
    <tbody>
    <tr th:if="${not #lists.isEmpty(boardListDetail)}" th:each="row : ${boardListDetail}">
        <td th:text="${row.title}"></td>
        <td th:text="${row.content}"></td>
        <td th:text="${row.writer}"></td>
        <td th:text="${#calendars.format(row.insertDate, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>

    <div class="">
        <div>
            <a th:href="@{'/board/edit/' + ${row.id}}">수정</a>
            <form id="delete-form" th:action="@{'/board/' + ${row.id}}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">삭제</button>
            </form>
        </div>
    </div>
</body>
</html>